rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /videos/{videoId} {
      allow read: if true;  // semua orang bisa baca
      allow write: if request.auth != null && request.auth.token.admin == true; // admin bisa tulis
    }

    match /playlists/{playlistId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}